body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    /* background-image: url(https://i.makeagif.com/media/6-16-2015/CPME9s.gif); */
    background-repeat: no-repeat;
    background-size: cover;
}
#main{
    height: 500px;
    width: 650px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px 0;
    background:linear-gradient( #e7c9f8,#f9f4d4);
  
}
.a{
    width: 40%;
    height: 100%;
    text-align: center;
    background:linear-gradient( #0e2378,aqua);
}
.a img{
    height: 150px;
    margin-top: 45%;
}
.a1{
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 60%;
}
#main2{
    height: 350px;
    width: 400px;
    background:linear-gradient( #e7c9f8,#f9f4d4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-left: 8%; */
    border-radius: 15px;
    box-shadow: 0 0 20px 0;
    display: none;
    text-align: center;
}
p{
    text-align: center;
}
/* #loginButton{
    margin-right: 20%;
} */
input{
    width: 260px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0 rgb(159, 158, 158);
}
select,#submit{
    width: 270px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 0 rgb(159, 158, 158);
}
#submit{
    background:linear-gradient(to right, #0e2378,aqua,#0e2378);
    color: white;
}
span{
    color: rgb(226, 5, 5);
    font-size: 12px;
}

#show{
    width: auto;
}