.hedline{
    background-image: url("https://images-static.naikaa.com/media/wysiwyg/2021/common-strip.jpg");
    background-size: cover;
}
.hedline1{
    animation: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
    animation-delay: 2s;
}
@keyframes move{
to{
    margin-top: 10%;
}
}
.item img{
    border-radius: 20px;
}
.foot2 p{
    font-size: 13px;
    margin-top: 5px;
}

.image-container {
    position: relative;
    overflow: hidden; 
}

.zoom-image {
    width: 100%; 
    height: 100%; 
    transition: transform 0.3s ease; 

}
