*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 720px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://t3.ftcdn.net/jpg/06/79/87/08/360_F_679870854_y9oHieEFmgcE8YVk8p9dliDXa9zzww1O.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.timer{
    height: 300px;
    width: 600px;
    background-color: rgb(30, 30, 30);
    animation: play;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
    box-shadow: 0 0 30px #0ef;
}
@keyframes play{
 0%{
    box-shadow: 0 0 30px yellow;
 }
 20%{
    box-shadow: 0 0 30px blue;
 }
 40%{
    box-shadow: 0 0 30px palevioletred;
 }
 60%{
    box-shadow: 0 0 30px green;
 }
 80%{
    box-shadow: 0 0 30px red;
 }
 100%{
    box-shadow: 0 0 30px yellow;
 }
 
}
.main{
    display: flex;
    width: 100%;
    height: 65%;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
  
}
.main .a,.a1,.a2{
    height:120px ;
    width: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
    box-shadow: 0 0 15px 0 black;
    padding: 10px;
    position: relative;
   
}
.main .a{
    color: rgb(236, 56, 56);
}
.main .a1{
    color: yellow;
}
.main .a2{
    color: rgb(0, 168, 0);
}

.main .b,.b1,.b2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: move 60s infinite;
}
@keyframes move{
  
    100%{
        transform: rotate(360deg);
    }
    
}
.main .b{
    position: relative;
    border: 2px dashed red;
    /* position: absolute; */
}
.uu{
    position: relative;
    
}
.uu #hou{
    position: absolute;
    top: 24%;
    left: 37%;
    
}
.uu .time1{
    position: absolute;
    top: 63%;
    left: 32%;
}

.uu1 #min{
    position: absolute;
    top: 35px;
    left: 49px;
    
}
.uu1 .time1{
    position: absolute;
    top: 68px;
    left: 30%;
}


.uu2 #sed{
    position: absolute;
    top: 35px;
    left: 49px;
    
}
.uu2 .time1{
    position: absolute;
    top: 68px;
    left: 30%;
}










/* #hou{
    position: absolute;
    font-size: 50px;

} */
.main .b1{
    border: 2px dashed yellow;
}
.main .b2{
    border: 2px dashed green;
}
.time{
    position: absolute;
    top: 32%;
}
.time1{
    position: absolute;
    top: 60%;
}

.btn{
    height: 35%;
    width: 100%;
    text-align: center;
    color: white;
    
}
.c{
    height: 40px;
    width: 200px;
    /* border: 1px solid white; */
    border-radius: 10px;
    padding: 10px;
    margin-left: 34%;
    background-color: black;
    box-shadow: 0 0 10px rgb(105, 122, 124);

}
#AmPm{
    font-size: 15px;
    color: white;
    margin-left: 20px;
}
.btn button{
    width: 100px;
    border-radius: 20px;
    height: 30px;
    background-color: black;
    color: rgb(184, 184, 184);
    border: none;
    box-shadow: 0 0 10px 0 rgb(101, 101, 101);
}
