*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: fixed;
    top: 0;
    background-color: white;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
#top{
    height: 50px;
    width: 50px;
    font-size: 20px;
    background-color: #efefef;
    color:#007B8F;
    border-radius: 50%;
    box-shadow: 0 0 5px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  #top img{
    border-radius: 50%;
  }
header{
    height: 71px;
    border: 1px solid #acacac;
}
header .logo{
    height: 100%;
    border-right: 1px solid #acacac;
}
header .logo img{
    height: 35%;
    width: 70%;
}
header nav ul li{
    list-style: none;
    /* border: 1px solid black; */
    line-height: 70px;
    height: 100%;
    position: relative;
}
header nav ul li::before{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #007B8F;
    position: absolute;
    top: 0;
    left: 0;
}
header nav ul li:hover::before{
    width: 100%;
    transition: 1s;
}

header nav ul li:hover{
    /* border: 1px solid #d0d0d0; */
    background-color: #efefef;
    color: #007B8F;
}
header nav ul li a{
    text-decoration: none;
    color:#666666;
    padding: 10px;
    font-family: Sons, Helvetica, Arial, sans-serif;
    
}
header .search{
    position: relative;
}
header #search{
    height: 80%;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #d1d1d1;
}
header .search #searchIcon{
    position: absolute;
    right: 10%;
}
header .manu .login,.favorit,.help,.cart{
    border-left: 1px solid #acacac;
}

.part1,.part6{
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.part1 .a,.part6 .e{
    /* border: 1px solid black; */
    text-align: center;
    padding: 30px;
}
.part1 .a1{
    width: 70%;
    /* border: 1px solid black; */
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part1 .a1 .a-part,.part6 .e1 .e-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.part1 .a1 .a-part:hover{
    box-shadow: 2px 2px 10px 2px #d0d0d0;
}
.part2,.part5{
    height: 450px;
}
.part2 #slid,.part5 #slid{
    height: 95%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2 #slid .image,.part5 #slid .images {
    height: 90%;
    width: 97%;
    /* border: 2px solid black; */
    border-radius: 20px;
    overflow: hidden;
}
.part2 #slid .image img,.part5 #slid .images img{
    height: 100%;
    width: 100%;
    
}

.part3{
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.part3 .c{
    position: relative;
   }
.part3 .c1:hover{
    box-shadow: 0 0 10px 0 #dfdfdf;
}
.part3 .sale{
    width: 50px;
   position: absolute;
   top: 37%;
   left: 10px;
}
.part4 .d{
    padding: 20px;
    position: relative;
    /* border: 1px solid black; */
}
.part4 .d a{
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
    font-weight: 600;
}
.part4 .d button{
    position: absolute;
    right: 20px;
    top: 40%;
    width: 150px;
    height: 50px;
}
.home-demo .item {
    height: 450px;
}
.home-demo .item1{
    border: 1px solid #FAFAFA;
    position: relative;
}
.home-demo .item1 i{
    position: absolute;
    right:3px;
    top: 12px;
}
.home-demo .item2{
    position: relative;
}
.home-demo .item2 span{
    position: absolute;
    right: 5px;
    top: 10px;
}
.item2 button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 20px;  
}
.part7{
    height: 400px;
    padding: 20px;
}
.part8{
    height: 600px;
    padding: 20px;
}
.part8 button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: bold;
    margin: 10px;
}
.part8 button:hover{
    background-color: #007B8F;
    color: white;
    box-shadow: 0 0 10px 0 gray;
    border: none;
}
.part9{
    height: 550px;
}
.part10{
    position: relative;
}
.part10 img{
    position: absolute;
    bottom: 28px;
    left: 35%;
}
footer a{
    color: #007B8F;
    font-weight: 450;   
}